body{
    font-family: 'Roboto', sans-serif;
    /*Cor de fundo*/
    background-color: #d3d3d3;
    }
/*------------------------  NAV ------------------------------------*/
nav li{
    margin-right: 1rem;
}

.dropdown-menu{
    background-color: #212529;
}
.dropdown-menu li{
    margin: 0;
}
.dropdown-item{
    color: #F8F9FA
}

.dropdown-item:active{
    background-color: #212529;
}

/*------------------------  MAIN ------------------------------------*/
main{
    margin-bottom: 75px;
    background-color: #F8F9FA;
}

/*------------------------  FOOTER ------------------------------------*/
footer{
    height: 65px;
}
