body{
    font-family: 'Roboto', sans-serif;
    /*Cor de fundo*/
    background-color: #d3d3d3;
    }
/*------------------------  NAV ------------------------------------*/
nav li{
    margin-right: 1rem;
}

.dropdown-menu{
    background-color: #212529;
}
.dropdown-menu li{
    margin: 0;
}
.dropdown-item{
    color: #F8F9FA
}

.dropdown-item:active{
    background-color: #212529;
}

/*------------------------  MAIN ------------------------------------*/
main{
    margin-bottom: 75px;
    background-color: #F8F9FA;
}
main p{
    text-align: center;
    line-height: 0.9;
    margin-bottom: 10px;
}
/*------------------------  SOCIAL ICONS ------------------------------------*/
.social-icons a{
    color:#F8F9FA;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

.icon-facebook{
    background-color: #0b82ed;
}
.icon-facebook:hover{
    background-color: #33f;
}
.icon-instagram{
    background-color: #000;
}
.icon-instagram:hover{
    background-color: #555;
}
/*------------------------  FOOTER ------------------------------------*/
footer{
    height: 65px;
}
